/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background-color: black;
}
#page, #head, #logo, #nav, #title, a {
	color: white;
}
#page {
	width: 100%;
	height: 100vh;
	background-image: url("movers.jpg");
	background-repeat: no-repeat;
	margin-top: 0;
}
header, section {
	width: 100%;
}
#head {
	height: 20%;
}
#head {
	margin: 0 10px 30px 10px;
}
#logo {
	color: white;
	float: left;
	margin-left: 20px;
}
#title {
	margin: 50px 20px 20px 20px;
}
#title1 {
	animation-duration: 1s;
}
#title2 {
	margin-top: 20px;
	animation-duration: 2s;
}
h4{
	display: inline;
	margin: 30px;
	color: white;
	background-color: #299FE3;
	padding: 5px;
	border-radius: 20px;
}
#midicons {
	text-align: center;
	margin: 30px;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 4rem;
	text-align: center;
}
h3 {
	font-size: 2rem;
	text-align: center;
}
ul {
	float: right;
	margin-right: 20px;
}
#navid {
	display: inline;
	margin: 5px;
	background-color: red;
	border-radius: 20px;
	padding: 3px;
}
.form-container {
	text-align: center;
	margin: 0 auto;
}
.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
}

.greeting {
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}

.wikipedia-container {
    float:right;
    padding:10px;
    margin-right: 10px;
}

.nytimes-container {
	float: left;
    padding: 10px;
  }

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}
